<div class="navbar">
    <div class="logo">
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fcorporate.walmart.com%2Fnewsroom%2Fbusiness%2F20171003%2Fwho-is-parcel-what-this-delivery-company-means-to-walmart&psig=AOvVaw2oLEgG-NTdCdn_UpKsJPk3&ust=1677307607287000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCLCtyL7Rrf0CFQAAAAAdAAAAABAt" alt="">
    </div>
    
    <div class="links">
        <a routerLink="" routerLinkActive="active" >Home</a>
        <a *ngIf="authService.isLoggedIn" routerLink="parcel/add/new" routerLinkActive="active">Add Parcel</a>
        <a *ngIf="authService.isLoggedIn" routerLink="['parcel']" routerLinkActive="active">Parcels</a>
    </div>
    
    <div class="auth">
        <a routerLink="login" *ngIf="!authService.isLoggedIn">Login</a>
        <a *ngIf="authService.isLoggedIn" (click)="authService.logout()">Logout</a>
    </div>
    </div>

    <router-outlet></router-outlet>
    
    